Marketplace/Web References/com.umbraco.orders/orders.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="order" type="tns:OrderProxy" />
            <s:element minOccurs="1" maxOccurs="1" name="testMode" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OrderProxy">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OrderLines" type="tns:ArrayOfOrderLineProxy" />
          <s:element minOccurs="1" maxOccurs="1" name="Created" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Buyer" type="tns:BuyerProxy" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderStatus" type="tns:OrderStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoicePath" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DeliOrderID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EcommerceOrderID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PurchaseOrder" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderLineProxy">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderLineProxy" nillable="true" type="tns:OrderLineProxy" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderLineProxy">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductID" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="VendorEconomicID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BuyerProxy">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VAT" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="VatInvalid" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="umbracoComMemberID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="umbracoComMemberGuid" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="ourMemberId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ourMemberGuid" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Groups" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="OrderStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Accepted" />
          <s:enumeration value="Refused" />
          <s:enumeration value="Error" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateResult" type="tns:OrderProxy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFromEcommerceID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EcommerceOrderID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFromEcommerceIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFromEcommerceIDResult" type="tns:OrderProxy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFromTransactionID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transaction" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFromTransactionIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFromTransactionIDResult" type="tns:OrderProxy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LinkProfiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="profileEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="profilePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LinkProfilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LinkProfilesResult" type="tns:BuyerProxy" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="GetFromEcommerceIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetFromEcommerceID" />
  </wsdl:message>
  <wsdl:message name="GetFromEcommerceIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetFromEcommerceIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetFromTransactionIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetFromTransactionID" />
  </wsdl:message>
  <wsdl:message name="GetFromTransactionIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetFromTransactionIDResponse" />
  </wsdl:message>
  <wsdl:message name="LinkProfilesSoapIn">
    <wsdl:part name="parameters" element="tns:LinkProfiles" />
  </wsdl:message>
  <wsdl:message name="LinkProfilesSoapOut">
    <wsdl:part name="parameters" element="tns:LinkProfilesResponse" />
  </wsdl:message>
  <wsdl:portType name="OrdersSoap">
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFromEcommerceID">
      <wsdl:input message="tns:GetFromEcommerceIDSoapIn" />
      <wsdl:output message="tns:GetFromEcommerceIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFromTransactionID">
      <wsdl:input message="tns:GetFromTransactionIDSoapIn" />
      <wsdl:output message="tns:GetFromTransactionIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LinkProfiles">
      <wsdl:input message="tns:LinkProfilesSoapIn" />
      <wsdl:output message="tns:LinkProfilesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrdersSoap" type="tns:OrdersSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFromEcommerceID">
      <soap:operation soapAction="http://tempuri.org/GetFromEcommerceID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFromTransactionID">
      <soap:operation soapAction="http://tempuri.org/GetFromTransactionID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LinkProfiles">
      <soap:operation soapAction="http://tempuri.org/LinkProfiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrdersSoap12" type="tns:OrdersSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFromEcommerceID">
      <soap12:operation soapAction="http://tempuri.org/GetFromEcommerceID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFromTransactionID">
      <soap12:operation soapAction="http://tempuri.org/GetFromTransactionID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LinkProfiles">
      <soap12:operation soapAction="http://tempuri.org/LinkProfiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Orders">
    <wsdl:port name="OrdersSoap" binding="tns:OrdersSoap">
      <soap:address location="http://umbraco.com/webservices/orders.asmx" />
    </wsdl:port>
    <wsdl:port name="OrdersSoap12" binding="tns:OrdersSoap12">
      <soap12:address location="http://umbraco.com/webservices/orders.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>