Marketplace/Web References/com.umbraco/memberlookup.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetMemberData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMemberDataResult" type="tns:MemberData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MemberData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberGroups" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VATNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoicingEmail" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMemberDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetMemberData" />
  </wsdl:message>
  <wsdl:message name="GetMemberDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetMemberDataResponse" />
  </wsdl:message>
  <wsdl:portType name="MemberLookUpSoap">
    <wsdl:operation name="GetMemberData">
      <wsdl:input message="tns:GetMemberDataSoapIn" />
      <wsdl:output message="tns:GetMemberDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MemberLookUpSoap" type="tns:MemberLookUpSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMemberData">
      <soap:operation soapAction="http://tempuri.org/GetMemberData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MemberLookUpSoap12" type="tns:MemberLookUpSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMemberData">
      <soap12:operation soapAction="http://tempuri.org/GetMemberData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MemberLookUp">
    <wsdl:port name="MemberLookUpSoap" binding="tns:MemberLookUpSoap">
      <soap:address location="http://umbraco.com/umbraco/plugins/memberlookup/memberlookup.asmx" />
    </wsdl:port>
    <wsdl:port name="MemberLookUpSoap12" binding="tns:MemberLookUpSoap12">
      <soap12:address location="http://umbraco.com/umbraco/plugins/memberlookup/memberlookup.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>